
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #EEEFF3;
}

header{
    background-color: #304E42;
    color: white;

    display: flex;
    align-items: center;
}

ul.nav a, ul.nav{
    text-decoration: none;
    color: white;
    list-style: none;
}

.carrossel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    position: relative;
    gap: 40vw;

    background: url(assets/parque.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

#esquerda1, #direita1{
    font-size: 6vh;
    border-radius: 5px;
    cursor: pointer;
 
    color: white;
    background-color: #94949494;
 }

#esquerda1{
    display: flex;
    justify-content: start;

}

.noticias{
    display: flex;
    flex-direction: column;
}

.not1{
    margin: 0;

    font-size: 3vw;
    color: white;
}

.not2{
    margin: 0;

    font-size: 2vw;
    color: white;
    font-weight: lighter;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    justify-content: space-between;
    align-items: baseline;

    padding-left: 8vw;
    padding-right: 8vw;
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: flex-end;
    align-items: center;

    font-weight: normal;
}

.Login{
    background-color: #467260;
    width: 4.5vw;
    height: 4.5vh;
    border-radius: 0.7vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

li a{
    position: relative;
}

.mobile-menu-icon{
    display: none;
}

.inicio::after, .mapa::after, .doa::after, .sobre::after{
    content: " ";
    width: 0%;
    height: 0.2vh;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;

    transition: 0.2s ease-in-out;
}

li a:hover::after{
    width: 100%;
}

.comunidade{
    margin-top: 15vh;
}

#esquerda2, #direita2{
   font-size: 6vh;
   border-radius: 5px;
    cursor: pointer;

    color: white;
    background-color: #304E42;
}

.opcoes, .comunidade{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.opcoes{
    display: flex;
    flex-wrap: wrap;
}

.h-op{
    font-size: 0.9vw;
    font-weight: normal;
    color: black;
}

.horta1{
    height: 50vh;
    width: 25vw;
    border-radius: 1.2vw;
    /* row-gap: 3vh; */

    background-color: #D9D9D9;
}

.horta2{
    height: 50vh;
    width: 25vw;
    border-radius: 1.2vw;
    /* row-gap: 3vh; */

    background-color: #D9D9D9;
}

.horta3{
    height: 50vh;
    width: 25vw;
    border-radius: 1.2vw;
    /* row-gap: 3vh; */

    background-color: #D9D9D9;
}

h4{
    font-weight: normal;
}

.icon-perfil{
    width: 10vw;
}

#circulo{
    color: #949494;
    font-size: 17vh;
}

h3{
    font-size: 15px;
    text-align: center;
}

.b-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3vw;

    margin-top: 2vh;
}

.b-1, .b-2, .b-3, .b-4, .b-5{
    background-color: #C2C1C1;
    border: #000000 solid 1.5px;
    border-radius: 100px;
    cursor: pointer;

    width: 1vw;
    height: 2vh;

    transition: all 0.5s;
}

.cads, .mapa-v1{
    color: #304E42;
}

.cads{
    font-size: 40px;
}

.cads-tex{
    margin-top: -3vh;
    font-weight: normal;
    color: black;
    font-size: 1vw;
    width: 32vw;
}

.mapa-v2{
    text-align: left;
    font-weight: normal;
}

.opcoes{
    font-size: 0.9vw;
}

.horta1, .horta2, .horta3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.guia{
    margin-top: 15vh;
    margin-left: 6vw;

    display: flex;
    flex-direction: row;
    gap: 7vw;
}

.mapa{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}

iframe{
    width: 60vw;
    height: 60vh;
    border: none;
    border-radius: 10px;
}

.botao-maps{
    background-color: #304E42;
    color: white;
    border-style: none;
    cursor: pointer;

    width: 10vw;
    height: 7vh;
    border-radius: 0.8vw;
}

.cadastro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    margin-top: 7vh;
    margin-bottom: 7vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 2vh;
    gap: 2vh;
    margin-top: 1vh;

    background-color: #D9D9D9;
    border-radius: 15px;

    height: 38vh;
    width: 20vw;
}

button{
    width: 9vw;
    height: 5vh;

    border-style: none;
    border-radius: 0.9vw;

    cursor: pointer;

    background-color: #304E42;
    color: white;

    font-size: 0.9vw;
    font-weight: bold;
}

input{
    background-color: #EEEFF3;
    border-style: none;
    border-radius: 0.5vw;
    padding-left: 1vw;

    height: 4vh;
    width: 18vw;

    outline: none;

    font-size: 1vw;
}

input::placeholder{
    font-size: 1vw;
    color: #4C4C4C;
    font-family: "Inter", sans-serif;

}

.texto-f{
    font-weight: bolder;
}

.ed-horta{
    font-weight: normal;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #304E42;
    color: white;
}


/* Efeitos */

.b-1:hover, .b-2:hover, .b-3:hover, .b-4:hover, .b-5:hover{
    transform: translateY(-5px);
    background-color: white;
}

input:hover{
    background-color: #e6e6e6;
}

input:focus{
    background-color: #e6e6e6;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Responsivo */

/*Celular*/
@media (max-width:428px){

    header{
        background-color: #304E42;
        height: 7vh;
        color: white;

        align-items: center;
    }

    header h1{
        font-size: 5vw;
    }

    .nav{
        gap: 20px;
    }

    #navigation_header{
        z-index: 3;

        display: none;
        position:absolute;
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        right: 0;
        padding-top: 10px;

        background-color: #304E42;

        height: 45%;
        width: 26vw;
        border-radius: 6px;

        animation-duration: 1s;
        margin-right: -100vw;
    }

    @keyframes showSidebar {
        from{margin-right: -100vw;}
        top{margin-right: 0vw;}
    }

    .Login{
        width: 15vw;
        height: 4.5vh;
        border-radius: 1.2vw;
    }

    li a:hover::after{
        width: 0;
    }

    .icon{
        background-color: transparent;
        width: 0;
    }

    .mobile-menu-icon{
        display: block;
    }

    .carrossel{
        height: 40vh;
        gap: 27vw;
    }
    
    #esquerda1, #direita1{
        font-size: 7vw;
    }

    .not1{
        font-size: 7vw;
    }
    
    .not2{
        font-size: 5vw;
    }

    .comunidade{
        margin-top: 5vh;
        font-size: 7vw;
    }

    .horta1, .horta2, .horta3{
        height: 200px;
        width: 35vw;

        row-gap: 0;
    }

    .horta3{
        display: none;
    }

    .icon-perfil{
        width: 12vw;
    }

    section h2{
        font-size: 4vw;
    }

    .h-op{
        font-size: 2vw;
        width: 28vw;
    }

    section h4{
        font-size: 2vw;
    }

    #esquerda2, #direita2{
        font-size: 6vw;
    }

    .b-nav{
        gap: 1vw;
    }

    .b-1, .b-2, .b-3, .b-4, .b-5{
        width: 2.2vw;
        height: 8px;
    }

    .guia{
        margin-top: 9vh;
        flex-direction: column;
        align-items: center;
    }

    .mapa-v1{
        font-size: 7vw;
    }

    .mapa{
        flex-direction: row;
        justify-content: flex-start;
    }

    .botao-maps{
        width: 35vw;
        font-size: 3.4vw;
        border-radius: 1.2vh;
    }

    iframe{
        width: 80vw;
        height: 30vh;
        border-radius: 2vh;
    }

    .cadastro{
        margin-top: 9vh;
    }

    .cads{
        font-size: 7vw;
    }

    .cads-tex{
        font-size: 3vw;
        width: 65vw;
    }

    form{
        width: 60vw;
        height: 270px;
    }

    input{
        width: 55vw;
        height: 30px;
        border-radius: 1vh;
        padding-left: 3vw;

        font-size: 15px;
    }

    button{
        width: 30vw;
        height: 40px;
        border-radius: 1vh;

        font-size: 3vw;
    }

    /* efeitos */

    input::placeholder{
        font-size: 15px;
    }

}